# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
alertmanager-feishu-go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Environment variables (Crucial for security)
.env
.env.*
!.env.example

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
